@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    transition: all .2s;
}

a:hover {
    color: #ff6b00;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    pointer-events: none;
}

.btn {
    width: 145px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 35px;
    color: #ff6b00;
    cursor: pointer;
    z-index: 0;
    position: relative;
    transition: .4s;
    overflow: hidden;
}

.btn:hover {
    color: #fff;
}

.btn::before {
    position: absolute;
    content: '';
    transition: .4s;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #ff6b00;
}

.btn:hover::before {
    width: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.lt,
.rt {
    width: 50%;
}

.rt {
    padding-left: 20px;
}

.container {
    width: 1170px;
    margin: auto;
}

section {
    width: 100%;
    overflow: hidden;
}

.top-head .main {
    justify-content: space-between;
    align-items: center;
}

.top-head .num-mail {
    padding: 10px 0;
}

.top-head .num-mail a {
    margin-right: 15px;
}

.top-head .num-mail a i {
    color: #1f73bc;
    transition: all .4s;
}

.top-head .num-mail a:hover i {
    color: #ff6b00;
}

.top-head .sc-icon a {
    margin-left: 7px;
}

.top-head .sc-icon a i {
    font-size: 24px;
}

a i.fa-facebook-square {
    color: #1877F2;
}

a i.fa-instagram {
    color: #F14C41;
}

a i.fa-google-plus-square {
    color: #C5221E;
}

a i.fa-facebook-square:hover,
a i.fa-instagram:hover,
a i.fa-google-plus-square:hover {
    color: #ff6b00;
}

/* header.fixed {
    background-color: #242424cc;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 11;
}

header.fixed .logo {
    width: 140px;
}

header.fixed nav ul {
    padding-top: 14px;
} */

header {
    width: 100%;
    height: 104px;
    padding: 7px 0;
    background: #1f73bc;
    position: sticky;
    top: 0;
    transition: 1s;
    z-index: 999;
}

header .logo {
    width: 140px;
    transition: 1s;
    float: left;
}

header .logo a {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

.hamburger {
    display: none;
    margin-top: 20px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 20px;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger.toggle .line1 {
    transform: translateY(8px) rotate(-45deg);
}

.hamburger.toggle .line2 {
    opacity: 0;
}

.hamburger.toggle .line3 {
    transform: translateY(-8px) rotate(45deg);
}

header nav ul {
    padding-top: 17px;
    transition: all .4s;
}

header nav ul li {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    position: relative;
}

header nav ul li:hover ul.drpdwn {
    opacity: 1;
    visibility: visible;
}

header nav ul li ul.drpdwn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    background: #1f73bc;
    width: 165px;
    border-radius: 10px;
}

header nav ul li ul.drpdwn li {
    border-bottom: 1px dotted rgb(141, 141, 141);
    margin: 0;
    width: 100%;

}

header nav ul li ul.drpdwn li:last-child {
    margin-bottom: 12px;
    border-bottom: 1px dotted transparent;
}

header nav ul li ul.drpdwn li a {
    line-height: 30px;
}

header nav ul li a {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all .2s;
    font-weight: 600;
}

header nav ul li a:hover {
    color: #ff6b00;
}

header nav ul li a.active {
    color: #ff6b00;
}

.banner-sec img.mob {
    display: none;
}

.banner-sec .banner-content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, 0%);
    width: 50%;
}

.banner-sec .banner-content h2 {
    font-size: 44px;
    color: #fff;
}

.banner-sec .banner-content p {
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
}

.banner-sec .banner-content .btn {
    display: block;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
}

.banner-sec .swiper-button-prev,
.banner-sec .swiper-button-next {
    width: 40px;
    height: 40px;
    background: #1f73bca6;
    border-radius: 50%;
    /* border: 1px solid #1f73bc; */
}

.banner-sec .swiper-button-prev:hover,
.banner-sec .swiper-button-next:hover {
    background: #ff6b00;
}

.banner-sec .swiper-button-prev:after,
.banner-sec .swiper-button-next:after {
    font-size: 20px;
    color: #fff;
}

.popular-sec {
    padding: 50px 0;
}

.popular-sec .lt figure {
    width: 350px;
    margin: auto;
}

.popular-sec .rt h2 {
    margin-bottom: 20px;
    font-size: 38px;
    position: relative;
}

.popular-sec .rt h2::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;

    background: #F14C41;
    width: 50px;
    height: 2px;
}

.popular-sec .rt p {
    font-size: 16px;
    text-align: justify;
}

.popular-sec .rt .in-des {
    background-color: #f4f5f9;
    color: #000;
    margin: 10px 0;
    padding: 22px;
    position: relative;
}

.popular-sec .rt .in-des::before {
    position: absolute;
    content: "\f10e";
    font-family: 'FontAwesome';
    right: 15px;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #0000005e;
}

.popular-sec .rt .in-des p {
    font-size: 14px;
}

.popular-sec .rt .butn .btn {
    display: block;
    background-color: #ff6b00;
    border-color: #ff6b00;
    color: #fff;
    text-align: center;
    line-height: 38px;
    margin-top: 20px;
}

.popular-sec .rt .butn .btn:hover {
    color: #ff6b00
}

.popular-sec .rt .butn .btn::before {
    background-color: #fff;
}

.repair-sec {
    padding: 50px 0;
    background: #f3f3f3;
}

.repair-sec .head {
    text-align: center;
    color: #1b2a49;
}

.repair-sec .head h2 {
    font-size: 40px;
    line-height: 42px;
    position: relative;
}

.repair-sec .head h2::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #F14C41;
    width: 70px;
    height: 2px;
}

.repair-sec .head .rep {
    display: block;
}

.repair-sec .head .rep .colr {
    color: #ff6b00;
}

.repair-sec .main {
    margin-top: 22px;
}

.repair-sec .main li {
    width: 23%;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 1px 5px #ccc;
    border-radius: 8px;
    background: #fff;
}

.repair-sec .main li figure {
    margin-bottom: -4px;
}

.repair-sec .main li figure img {
    height: 240px;
    object-fit: cover;
}

.repair-sec .main li .content {
    padding: 15px;
    border: 1px solid #ccc;
    position: relative;
    height: 234px;
}

.repair-sec .main li .content .small-icon {
    width: 40px;
    height: 50px;
    margin-top: -58px;
    margin-bottom: 30px;
    display: grid;
    place-content: center;
    border-bottom: 3px solid #ff6b00;
}

.repair-sec .main li .content .small-icon i {
    font-size: 20px;
    padding: 10px;
    background: #fff;
}

.repair-sec .main li .content h2 {
    min-height: 35px;
    font-size: 20px;
}

.repair-sec .main li .content p {
    margin-bottom: 12px;
}

.repair-sec .main li .content .btn {
    display: block;
    background-color: #ff6b00;
    border-color: #ff6b00;
    color: #fff;
    text-align: center;
    line-height: 38px;
    position: absolute;
    bottom: -20px;
}

.repair-sec .main li .content .btn:hover {
    color: #ff6b00
}

.repair-sec .main li .content .btn::before {
    background-color: #fff;
}

.empower-sec {
    padding: 50px 0;
}

.empower-sec .rt h2 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 20px;
}

.empower-sec .rt p {
    font-size: 18px;
    line-height: 22px;
}

.empower-sec .rt .inn-main {
    margin-top: 30px;
}

.empower-sec .rt .inn-main img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.empower-sec .rt .inn-main .main-lt {
    width: 15%;
}

.empower-sec .rt .inn-main .main-rt {
    width: 85%;
}

.empower-sec .rt .inn-main .main-rt h2 {
    margin-bottom: 10px;
    line-height: normal;
    font-size: 28px;
}

.empower-sec .rt .inn-main .main-rt p {
    line-height: normal;
    font-size: 16px;
}

.testimonial-sec {
    background-color: #1c294b;
}
.testimonial-sec .lt img{
    height: 100%;
}

.testimonial-sec .rt {
    padding: 50px 0;
    padding-left: 20px;
}

.testimonial-sec .rt h2 {
    color: #fff;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 20px;

}

.testimonial-sec .rt p {
    font-size: 18px;
    color: #fff;
}

.testimonial-sec .rt .test-log {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.testimonial-sec .rt .test-log img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.testimonial-sec .rt .test-log h3 {
    color: #fff;
    margin-bottom: 5px;
}

.consult-sec {
    padding: 50px 0;
}

.consult-sec .rt h2 {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 42px;
}

.consult-sec .rt form .inp {
    margin-bottom: 7px;
}

.consult-sec .rt form .inp input {
    width: 450px;
    height: 40px;
    outline: 0;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px #ccc;
    border-radius: 10px;
}

.consult-sec .rt form .inp textarea {
    width: 450px;
    font-size: 16px;
    outline: 0;
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px #ccc;
    border-radius: 10px;
}

.consult-sec .rt form .inp textarea::placeholder {
    font-family: "";
}

.consult-sec .rt form .inp input:focus-visible,
.consult-sec .rt form .inp textarea:focus-visible {
    border: 1px solid #000;
}

.consult-sec .rt form .btn {
    /* border-radius: 0; */
    background-color: #ff6b00;
    border: 1px solid transparent;
    color: #fff;
}

.consult-sec .rt form .btn:hover {
    color: #ff6b00;
}

.consult-sec .rt form .btn::before {
    background-color: #fff;
    border: 1px solid #ff6b00;
}

.upfoot {
    max-width: 800px;
    margin: auto;
    padding: 35px;
    background-color: #ff6b00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.upfoot p {
    font-size: 34px;
}

.upfoot .btn {
    text-align: center;
    line-height: 38px;
    color: #fff;
    background-color: #162648;
    border-color: transparent;
}

footer {
    padding: 50px 0;
    padding-bottom: 20px;
    background-color: #1d202f;
}

footer .ft-col {
    width: 23%;
    margin: 1%;
    padding: 1%;
}

footer .ft-col p.anchor a:hover {
    color: #ff6b00;
}

footer .ft-col .ft-head {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

footer .ft-col .ft-head::before {
    position: absolute;
    content: '';
    width: 10%;
    height: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    border-radius: 6px;
}

footer .ft-col .addr {
    display: flex;
}

footer .ft-col .addr span {
    margin-right: 4px;
}

footer .ft-col .ft-head h2 {
    color: #fff;
}

footer .ft-col .serv {
    display: block;
    color: #fff;
    margin: 10px 0;
}

footer .ft-col .serv:hover {
    color: #ff6b00;
}

footer .ft-col p {
    color: #fff;
}

footer .ft-col p.anchor {
    margin: 15px 0;
}

footer .ft-col p.anchor a {
    color: #fff;
}

footer .ft-col form .inp {
    margin: 10px 0;
}

footer .ft-col form .inp input[type="text"] {
    padding: 10px;
    outline: 0;
    width: 70%;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    border-left: 4px solid #fff;
}

footer .ft-col form .inp input[type="text"]:focus-visible {
    border: 1px solid #fff;
    border-left: 4px solid #fff;
}

footer .ft-col form .btn {
    border-radius: 0;
    width: 70%;
    background-color: #ff6b00;
    color: #fff;
}

footer .ft-col form .btn:hover {
    color: #ff6b00;
}

footer .ft-col form .btn::before {
    background-color: #fff;
}

footer .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ababab;
}

footer .copyright .copy {
    color: #fff;
}

footer .copyright a i {
    font-size: 24px;
    margin-left: 6px;
}

/*****************/
/* about us page */
/*****************/
.about-sec {
    padding: 50px 0;
}

.about-sec .about-main {
    text-align: center;
}

.about-sec .about-main h2 {
    font-size: 38px;
    color: #1d202f;
}

.about-sec .about-main h2 span {
    color: #ff6b00;
}

.about-sec .about-main h4 {
    font-size: 24px;
    margin: 12px 0;
    color: #1d202f;
}

.about-sec .about-main p {
    font-size: 18px;
    line-height: 24px;
    max-width: 800px;
    margin: auto;
}

.lower-sec {
    padding: 50px 0;
}

.lower-sec .main-d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lower-sec .main-d .left {
    width: 36%;
}
.lower-sec .main-d .left figure img{
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

.lower-sec .main-d .right {
    width: 60%;
}

.lower-sec .main-d .right h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.lower-sec .main-d .right p {
    margin-bottom: 15px;
}

.static-sec {
    padding: 50px 0;
    background-color: #162648;
}

.static-sec .head {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 38px;
}

.static-sec li {
    text-align: center;
    color: #1f73bc;
    padding: 30px 12px;
    margin: 1%;
    background-color: #f5f5f5;
    width: 23%;
    border-radius: 8px;
    transition: all .4s;
}

.static-sec li:hover {
    background-color: #1877F2bd;
    color: #fff;
}

.static-sec li i {
    font-size: 50px;
}

.static-sec li h2 {
    margin: 20px 0;
    font-size: 32px;
}

.static-sec li p {
    font-size: 18px;
}

/*****************/
/* contact  page */
/*****************/
.form-sec {
    padding: 50px 0;
}

.form-sec h2 {
    font-size: 38px;
    color: #1d202f;
    margin-bottom: 20px;
}

.form-sec form .inp {
    margin-bottom: 7px;
}

.form-sec form .inp input {
    width: 450px;
    height: 40px;
    outline: 0;
    font-size: 16px;
    padding: 12px;
    border: 1px solid transparent;

    box-shadow: 0 3px 6px #ccc;
    border-radius: 10px;
}

.form-sec form .inp textarea {
    width: 450px;
    font-size: 16px;
    outline: 0;
    padding: 12px;
    border: 1px solid transparent;
    box-shadow: 0 3px 6px #ccc;
    border-radius: 10px;
}

.form-sec form .inp textarea::placeholder {
    font-family: "";
}

.form-sec form .inp input:focus-visible,
.form-sec form .inp textarea:focus-visible {
    border: 1px solid #000;
}

.form-sec form .btn {
    /* border-radius: 0; */
    background-color: #ff6b00;
    border: 1px solid transparent;
    color: #fff;
}

.form-sec form .btn:hover {
    color: #ff6b00;
}

.form-sec form .btn::before {
    background-color: #fff;
    border: 1px solid #ff6b00;
}

.form-sec .rt .detail {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-sec .rt .detail i {
    font-size: 20px;
    color: #fff;
    background: #000;
    padding: 12px;
}

.form-sec .rt .detail p {
    font-size: 20px;
    margin-left: 12px;
}

/*****************/
/* service  page */


.safe_side_main {
    margin-top: -22px;
    z-index: 9;
    position: relative;
}

.safe_side_main .safe_menu {
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgb(192 192 192 / 30%);
    padding: 30px;
    width: auto;
    border-radius: 10px;
}

.safe_side_main .safe_menu h2 {
    color: #000;
    font-size: 22px;
    font-weight: 800;
    /* margin-top: 15px; */
}

.safe_side_main .safe_menu .work_on_progress {
    padding: 0 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.safe_side_main .safe_menu .work-progress {
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}

.safe_side_main .safe_menu .work-progress .work-icon-box {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    align-items: center;
    background: #1f73bc;
    text-align: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 5px 20px #ccc;
}

.safe_side_main .safe_menu .work-progress .work-icon-box span {
    justify-content: center;

}

.safe_side_main .safe_menu .work-progress .work-icon-box span img {
    width: 60px;
    justify-content: center;
}

.safe_side_main .safe_menu .work-progress .work-icon-box span img {
    display: inline;
    margin: 0 auto;
    margin-left: 0%;
    width: 60px;
}

.safe_side_main .safe_menu .work-progress .caption {
    font-size: 14px;
    margin-top: 15px;
}

.ssa .safe_menu {
    padding: 21px 10px;
    margin: 0;
    box-shadow: 0 0 0 0;
}


.define {
    padding: 50px 0;
}

.define .main_def {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.define .main-left {
    width: 72%;
}

.define .main_def .main-left .repair {
    padding: 24px 30px 28px 30px;
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}

.define .main_def .main-left h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 27px;
}

.define .main_def .main-left h3 {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
}

.define .main_def .main-left p {
    margin-bottom: 15px;
    font-weight: 300;
    color: #848484;
    font-size: 14px;
    line-height: 22px;
}

.define .main-left ul.first-rep {
    display: block;
}
.define .main-left ul.first-rep li{
    width: 100%;
}
.define .main-left ul {
    display: flex;
    flex-wrap: wrap;
}

.define .main-left ul li {
    position: relative;
    margin-bottom: 10px;
    font-weight: 300;
    padding-left: 30px;
    color: #848484;
    font-size: 14px;
    width: 50%;
}

.define .main-left ul li::before {
    position: absolute;
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 6px;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    left: 5px;
    top: 0p;
    background: #C5221E;
    box-shadow: 0 0 0 3px rgba(248, 92, 112, .3);
}

.define .main-right {
    width: 25%;
}

.define .main_def .main-right .repair {
    padding: 24px 25px 28px;
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}

.define .main_def .main-right h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 27px;
}

.define .main_def .main-right h3 {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
}

.define .main_def .main-right p {
    margin-bottom: 15px;
    font-weight: 300;
    color: #848484;
    font-size: 14px;
    line-height: 24px;
}

.define .main_def .main-right ul li {
    color: #474747;
    line-height: 28px;
    font-size: 14px;
}
.reviews{
    padding: 50px 0;
    background: #f1f1f1;
}
.reviews .checked {
    color: orange;
}

.reviews .main-d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews .main-d .comm-d {
    width: 31.33%;
    margin: 1%;
    background: #fff;
    transition: all .4s;
}
.reviews .main-d .comm-d:hover {
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 10%);
}
.reviews .main-d .comm-d:hover figure img {
    transform: scale(1.2);
}
.reviews .main-d .comm-d figure {
    overflow: hidden;
}
.reviews .main-d .comm-d figure img{
    transition: all .4s;
}

.reviews .main-d .comm-d .low{
    padding: 10px 20px 30px;
}
.reviews .main-d .comm-d h2 {
    font-size: 23px;
    min-height: 56px;
}
.reviews .ratings{
    margin-top: 10px;
    margin-bottom: 10px;
}
.reviews .main-d .comm-d p{
    color: #848484;
    font-size: 14px;
    line-height: 20px;
}

/*****************/
.serv-sec {
    padding: 50px 0;
}

.serv-sec .serv-main:nth-child(even) {
    background-color: #01287a;
    margin: 50px 0;
}

.serv-sec .serv-main:nth-child(even) .main {
    flex-direction: row-reverse;
    padding: 50px 0;
}

.serv-sec .serv-main:nth-child(even) .main .rt {
    padding-right: 20px;
    color: #fff;
}

.serv-sec .lt {
    width: 35%;
}

.serv-sec .rt {
    width: 65%;
}

.serv-sec .rt h2 {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 44px;
}

.serv-sec .rt p {
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }

    .desk {
        display: none;
    }

    .banner-sec img.mob {
        display: block;
    }

    .lt,
    .rt {
        width: 100%;
    }

    .testimonial-sec .rt,
    .rt {
        padding-left: 0;
    }

    .top-head .num-mail a {
        display: block;
    }

    .top-head .num-mail a:first-child {
        margin-bottom: 6px;
    }

    header nav .hamburger {
        display: block;
    }

    header nav ul li a i {
        transform: rotate(-90deg);
    }

    header nav ul li ul.drpdwn {
        width: auto;
        top: 0;
        z-index: 1;
        left: 136px;
    }

    header nav ul {
        position: absolute;
        top: 70px;
        left: -400px;
        width: 60%;
        height: 100vh;
        background-color: #1f73bc;
    }

    header nav ul.shownav {
        left: 0;
    }

    header nav ul li {
        display: block;
        padding-left: 16px;
        line-height: 50px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .banner-sec .banner-content {
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .banner-sec .banner-content h2 {
        font-size: 32px;
    }

    .banner-sec .banner-content .btn {
        margin-left: auto;
        margin-right: auto;

    }

    .popular-sec .lt figure {
        width: auto;
    }

    .repair-sec .head {
        margin-bottom: 20px;
    }

    .repair-sec .head .rep {
        display: unset;
    }

    .repair-sec .main li {
        width: 100%;
        margin-bottom: 35px;
    }

    .repair-sec .main li figure img {
        height: auto;
    }

    .repair-sec .main li .content h2 {
        min-height: auto;
    }

    .repair-sec .main li .content p {
        margin-top: 12px;
    }

    .empower-sec .rt .inn-main .main-lt,
    .empower-sec .rt .inn-main .main-rt {
        width: 100%;
    }

    .consult-sec .rt form .inp input,
    .consult-sec .rt form .inp textarea {
        width: 100%;
    }

    .upfoot {
        flex-wrap: wrap;
        justify-content: center;
    }

    .upfoot p {
        margin-bottom: 8px;
    }

    footer .ft-col {
        width: 100%;
    }

    footer .copyright {
        text-align: center;
    }

    footer .copyright .copy,
    footer .copyright .icos {
        width: 100%;
    }

    footer .copyright .copy {
        margin-bottom: 10px;
    }

    .static-sec li {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-sec form {
        margin-bottom: 30px;
    }

    .form-sec form .inp input,
    .form-sec form .inp textarea {
        width: 100%;
    }

    .serv-sec {
        padding-bottom: 0;
    }

    .serv-sec .lt,
    .serv-sec .rt {
        width: 100%;
    }

    .serv-sec .rt {
        margin-top: 20px;
    }

    .serv-sec .serv-main:last-child {
        margin-bottom: 0;
    }

    .lower-sec .main-d {
        flex-direction: column;
    }

    .lower-sec .main-d .left {
        width: 100%;

    }

    .lower-sec .main-d .right {
        width: 100%;
        margin-top: 10px;
        text-align: center;

    }
    .reviews .main-d {
    
        flex-direction: column;
    }
    
    .reviews .main-d .comm-d {
        width: 100%;
    
    
    }
    .define .main_def{
        flex-direction: column;
    }
    .define .main-left{
        width: 100%;
    }
    .define .main-left ul{
        flex-direction: column;
    }
    .define .main-right{
        width: 100%;
    }
    
}